* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

html {
    background: linear-gradient(112deg, #0d2f2d, #014a46);
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
}

section {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

section h2 {
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 4em;
    text-shadow: 0 0 5px #FFF, 0 0 88px #FFF, 0 0 15px #FFF, 0 0 20px #0c454b, 0 0 30px #03132b, 0 0 40px #063e3a, 0 0 55px #09413f, 0 0 75px #0c2a24;
}

section p {
    color: lightblue;
}

#lottie{
    width:100%;
    height:100vh;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
